body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;		
	background-color: $secondColor;
	color: $thirdColor;
	height: 100%;
	display: flex;
	margin-bottom: 0;
}

html{
	height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat');

@font-face {
	font-family: avenir;
	src: url(fonts/AvenirLTStd-Book.otf);
}

@font-face {
	font-family: avenir-black;
	src: url(fonts/AvenirLTStd-Black.otf);
}

p{
	font-family: $defaultFont;
	font-size: 16px;
	line-height: 30px;
}

a{
	font-family: $defaultFont;
	color: $fourthColor;
}

h1, h2, h3, h4, h5, h6{
    font-family: $titleFont;
}

ul{

	li{
		font-size: 16px;
		font-family: $defaultFont;
	}
}

ol{

	li{
		font-size: 16px;
		line-height: 30px;
		font-family: $defaultFont;

		&::first-letter{
			text-transform: capitalize;
		}
	}
}

a{
	transition: 0.3s;
	text-decoration: none;

	&:hover{
		text-decoration: none;
		color: $firstColor;
	}
}

p{
	color: $thirdColor;
}

button{
	font-family: $fontColor;
	font-weight: bold;
	color: $firstColor;
	padding: 10px 20px;
	width: 100%;
	border: none;
	background: $firstColor;
	font-size: 22px!important;
	width: auto;
	color: white;

	&:hover{
		background-color: $secondColor;
		transition: 0.3s;
	}
}

.navbar {
	background: $secondColor;
	width: 200px;
	height: 100%;
	margin: 0;
	padding: 0;
	align-items: flex-start;
	padding: 0 12.5px;

	.wrapper{
		width: 100%;
	}
	
	.nav-item{
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;

		i{
			margin-right: 7.5px;
			margin-top: 2px;
		}

		&.current{

			i{
				color: #95db39;
			}
		}
	}

	.nav-link {
		color: $thirdColor;
		font-size: 1rem;
		transition: 0.3s;

		&.current{
			color: $fourthColor;
		}

		&:hover{
			color: $fourthColor;
		}
	}

	.brand{
		
		img{
			max-width: 100%;
		}
	}
}

header {
	height: 100px;
	width: 100%;
	background: $firstColor;
	flex-direction: row-reverse;
	display: flex;
	padding: 0 25px;
}

.profile{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	.icon{
		margin-left: 12.5px;

		img{
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background: $thirdColor;
			position: relative;
		}
	}

	p{
		margin: 0;
		padding: 0;
	}

}

main{
	background: $firstColor;
	width: 100%;
	height: 100%;
	padding: 0 25px;
}

.layout-container{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.block{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	

	.wrapper{
		background: $secondColor;
		border-radius: 7px;
		overflow: hidden;
		padding: 25px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		display: flex;
	}

	table{
		border-radius: 7px;
		overflow: hidden;

		td{
			border-top: none;
			color: $secondColor;
			background: $thirdColor;
			padding: 7.5px 15px;

			&:nth-of-type(even){
				background: $firstColor;
				color: $thirdColor;
			}
		}
	}

	.column.graph{
		margin-right: -25px;
	}
}