@{
    ViewData["Title"] = "Dashboard";
}



<div class="text-center">
    <!--<h1 class="display-4">Welcome</h1>-->
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
</div>

<div class="block">
    <div class="title">
        <h2>Backlog Statistics</h2>
    </div>
    <div class="wrapper">
        <div class="column">
            <table>
                <tr>
                    <td>Owned</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Played</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Favourited</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Wishlisted</td>
                    <td>12</td>
                </tr>
            </table>
        </div>
        <div class="column graph">
            <canvas id="myChart" width="auto" height="auto"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Played', 'Owned'],
                        datasets: [{
                            label: '# of Votes',
                            data: [30, 70],
                            backgroundColor: [
                                '#95DB39',
                                '#D9D9D9'
                            ],
                            borderColor: [
                                '#95DB39',
                                '#D9D9D9'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        cutoutPercentage: 75,
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                fontColor: '#D9D9D9'
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>
<div class="block">
    <div class="title">
        <h2>Backlog Statistics</h2>
    </div>
    <div class="wrapper">
        <div class="column">
            <table>
                <tr>
                    <td>Owned</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Played</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Favourited</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Wishlisted</td>
                    <td>12</td>
                </tr>
            </table>
        </div>
        <div class="column graph">
            <button onclick="Button_click" value="Submit">Klik</button>
        </div>


        @{
            
        }

    </div>
</div>
