@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="block">
    <div class="title">
        <h2>Backlog Statistics</h2>
    </div>
    <div class="wrapper">
        <div class="column">
            <table>
                <tr>
                    <td>Owned</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Played</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Favourited</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Wishlisted</td>
                    <td>12</td>
                </tr>
            </table>
        </div>
        <div class="column graph">

        </div>
    </div>
</div>
