@model Backlog_Checker.Models.Games.MyGamesViewModel
@{
    ViewData["Title"] = "My Games";
}

<h1>My Games</h1>

<a class="nav-link" asp-area="" asp-controller="Games" asp-action="GetGames">Get Games</a>