@import url("https://fonts.googleapis.com/css?family=Anton|Montserrat");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #31353D;
  color: #D9D9D9;
  min-height: 100%;
  display: flex;
  margin-bottom: 0;
}

html {
  height: 100%;
}

@font-face {
  font-family: avenir;
  src: url(fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: avenir-black;
  src: url(fonts/AvenirLTStd-Black.otf);
}
p {
  font-family: segoe UI, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

a {
  font-family: segoe UI, sans-serif;
  color: #95DB39;
}

h1, h2, h3, h4, h5, h6 {
  font-family: segoe UI, sans-serif;
}

ul li {
  font-size: 16px;
  font-family: segoe UI, sans-serif;
}

ol li {
  font-size: 16px;
  line-height: 30px;
  font-family: segoe UI, sans-serif;
}
ol li::first-letter {
  text-transform: capitalize;
}

a {
  transition: 0.3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: 0.6;
  color: #95DB39;
}
a.button:hover {
  color: #31353D;
}

p {
  color: #D9D9D9;
}

button {
  font-family: #31353D;
  font-weight: bold;
  color: #31353D;
  padding: 10px 20px;
  width: 100%;
  border: none;
  background: #31353D;
  font-size: 22px !important;
  width: auto;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #292A2B;
  transition: 0.3s;
}

.button {
  font-family: segoe UI, sans-serif;
  color: #292A2B;
  padding: 5px 20px;
  width: 100%;
  border: none;
  background: #95DB39;
  font-size: 16px;
  width: auto;
  border-radius: 7px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
  transition: 0.3s;
  transform: scale(1.05);
}

.danger {
  color: #db4646;
}

.safe {
  color: #95DB39;
}

.flex-column {
  flex-direction: column;
  display: flex;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}
.popup.show {
  left: 0;
  display: flex;
  z-index: 9;
  opacity: 1;
}
.popup .overlay {
  background: rgba(128, 128, 128, 0.404);
  width: 100%;
  height: 100%;
}
.popup .content {
  background: #31353D;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  transition: 0.3s;
  position: fixed;
}
.popup .content .options {
  display: flex;
}
.popup .content .option:first-of-type {
  margin-left: auto;
  margin-right: 10px;
}
.popup .content .danger {
  background: #db4646;
  color: #31353D;
}
.popup .content .danger:hover {
  color: #31353D;
}

.navbar {
  background: #292A2B;
  width: 200px;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  padding: 0 12.5px;
}
.navbar .wrapper {
  width: 100%;
}
.navbar .nav-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.navbar .nav-item i {
  margin-right: 7.5px;
  margin-top: 2px;
}
.navbar .nav-item.current i {
  color: #95db39;
}
.navbar .nav-link {
  color: #D9D9D9;
  font-size: 1rem;
  transition: 0.3s;
}
.navbar .nav-link.current {
  color: #95DB39;
}
.navbar .nav-link:hover {
  color: #95DB39;
}
.navbar .brand img {
  max-width: 100%;
}

.options {
  display: flex;
}
.options .option:first-of-type {
  margin-right: 15px;
}

header {
  height: 100px;
  width: 100%;
  background: #31353D;
  flex-direction: row-reverse;
  display: flex;
  padding: 0 25px;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.profile .icon {
  margin-left: 12.5px;
}
.profile .icon img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #D9D9D9;
  position: relative;
}
.profile p {
  margin: 0;
  padding: 0;
}

main {
  background: #31353D;
  width: 100%;
  height: 100%;
  padding: 0 25px;
}

.layout-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
.block .wrapper {
  background: #292A2B;
  border-radius: 7px;
  overflow: hidden;
  padding: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
}
.block table {
  border-radius: 7px;
  overflow: hidden;
}
.block table td {
  border-top: none;
  color: #292A2B;
  background: #D9D9D9;
  padding: 7.5px 15px;
}
.block table td:nth-of-type(even) {
  background: #31353D;
  color: #D9D9D9;
}
.block .column.graph {
  margin-right: -25px;
}

.get-games {
  display: flex;
  flex-direction: row;
}
.get-games .block {
  max-width: 100%;
  width: 100%;
  background-color: #292A2B;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.get-games .block:first-of-type {
  margin-right: 25px;
}
.get-games .block .featured-image {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: row;
}
.detail .block {
  max-width: 100%;
  background-color: #292A2B;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.detail .block:first-of-type {
  margin-right: 25px;
}
.detail .block .featured-image {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
}
.detail .form-control {
  min-width: 400px;
}

#games-list .row {
  margin: 10px 0;
  border-radius: 7px;
  overflow: hidden;
}
#games-list .row .col {
  display: flex;
  align-items: center;
  background: #31353D;
  padding: 5px 15px;
}
#games-list .row .col.title {
  background: #D9D9D9;
  color: #292A2B;
}
#games-list .row .col:last-of-type {
  flex-direction: row-reverse;
  padding-right: 15px;
}
#games-list label {
  margin: 0;
}
#games-list a {
  display: flex;
}
#games-list .fas {
  font-size: 1.8rem;
  margin: 0 15px;
}

.filter-options {
  display: flex;
  margin: 0 0 15px 0;
}
.filter-options .option {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 16px !important;
  transition: 0.3s;
}
.filter-options .option:hover {
  background: #95DB39;
}
.filter-options .filters {
  position: absolute;
  background: #31353D;
  padding: 15px;
  z-index: 0;
  top: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 7px;
  transition: 0.3s;
  opacity: 0;
}
.filter-options .filters.show {
  opacity: 1;
  z-index: 3;
}

.featured-game {
  border-radius: 7px;
  overflow: hidden;
}
.featured-game .featured-image img {
  width: 100%;
}
.featured-game .content {
  background: #31353D;
  padding: 25px;
}
.featured-game .content .container {
  max-width: 1024px;
  margin: 0 auto;
}
.featured-game .title {
  font-size: 18px;
  border-bottom: 1px solid #95DB39;
  display: inline-flex;
}
.featured-game p {
  font-size: 14px;
  line-height: 1.5rem;
}

.login .navbar {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 9;
}
.login main {
  background-image: url(../../img/svg/Wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.login .navbar-nav {
  display: none;
}
.login .wrapper {
  display: flex;
  height: 100%;
}
.login .block.form-block {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
}
.login header {
  display: none;
}

.register .navbar {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 9;
}
.register .wrapper {
  display: flex;
  height: 100%;
}
.register main {
  background-image: url(../../img/svg/Wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.register .navbar-nav {
  display: none;
}
.register .block.form-block {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
}
.register header {
  display: none;
}

.logout {
  margin-right: 5px;
}

.block.form-block .wrapper {
  flex-direction: column;
}
.block.form-block .wrapper form {
  display: flex;
  flex-direction: row;
}
.block.form-block .form-submit {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block.form-block .form-submit button {
  background: #95DB39;
  color: #31353D;
  padding: 5px 25px;
  border: 0;
  transition: 0.3s;
}
.block.form-block .form-submit button:focus {
  border: 0;
}
.block.form-block .form-submit button:active {
  border: 0;
}
.block.form-block .form-submit button:hover {
  opacity: 0.7;
}

.form-control {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #95DB39;
  border-radius: 0;
  color: #D9D9D9;
  margin-right: 15px;
  max-width: 350px;
}
.form-control:active {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #95DB39;
  color: #D9D9D9;
}
.form-control:focus {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid #95DB39;
  color: #D9D9D9;
  box-shadow: none;
  outline: 0;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-group label {
  margin-bottom: 0;
  margin-top: auto;
  margin-right: 15px;
  min-width: 80px;
}

.form-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-switch p {
  margin: 0 10px 0 0;
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #95DB39;
}
input:disabled {
  background-color: grey !important;
  border: 0;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

label {
  text-transform: capitalize;
}

/*# sourceMappingURL=compiled.css.map */
